<nav role="navigation" class="navbar navbar-inverse">
  <div id="navbarCollapse" class="collapse navbar-collapse">

    <ul class="nav navbar-nav navbar-left">
      <li><span id="left-menu" class="fa fa-bars fa-2x"></span></li>

    <div class="navbar-center navbar-brand">
      <%= hidden_field_tag "bill_group", nil%>
      <a href="#" data-toggle="dropdown" class="nav dropdown-toggle">Create Bill<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if current_user %>
        <% current_user.groups.each do |group| %>
          <li> <%=link_to group.name, new_bill_path, class_id: group.id, id:"group_id", class: 'dropdown-link' %></li>
          <%end%>
        <%end%>
      </ul>
    </div>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Bills", bills_path %></li>
    </ul>
  </div>
</nav>