.navbar-collapse.collapse {
    display: block!important;
}

.navbar-left {
    float: left !important;

}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.navbar-center
{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
    text-align: center;
    height:100%;
}
.dropdown-menu {
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.dropdown-link {
    background-color: rgba(0, 0, 0, 0.54);
    height: 4em;
    width: 100%;
}

a.dropdown-toggle.nav {
    color: #777;
    font-size:12px;
    line-height: 2.3em;
}