.navbar{
    margin-bottom: 0;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-left {
    float: left !important;

}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.navbar-center
{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    text-align: center;
    height:100%;
    z-index: 9999;
}
.dropdown-menu {
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    z-index: 9999;
    background-color: black;
    opacity: 0.9;
}

.dropdown-link {
    height: 4em;
    width: 100%;
    z-index: 9999;
    background-color: black;
    border-bottom: 1px solid rgb(67, 67, 67);
}

a.dropdown-toggle.nav {
    color: #777;
    font-size:12px;
    line-height: 2.3em;
    z-index: 9999;
}
.fa-bars {
    background-color: transparent;
    border: 0px;
    color: #777;
    margin-top: 30%;
    margin-left: 40%;
}