.navbar-custom {
    position: fixed;
    width: 80%;
    height: 100%;
    box-shadow: inset -10px 0 10px rgba(0,0,0,0.4);
}

nav.navbar-custom * a {
    font-size:18px;
    color: #777;
    border-bottom: 1px solid rgb(40,40,40)
}

